---
import Navigation from '../components/Navigation.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/shared.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Navigation />
    <div class="container">
      <Header />
      
      <slot />
      
      <Footer />
    </div>
  </body>
</html> 