/* :root {
    --sl-font: 'JetBrains Mono Variable', serif;
} */

:root {
  font-size: 22px !important;

  --sl-font: "Roboto", sans-serif;
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: rgb(0, 0, 0);
  --sl-color-accent: #000000;
  --sl-color-accent-high: #21c800;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #96ff82;
  --sl-color-accent: #21c800;
  --sl-color-accent-high: #182775;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}
