@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.bubble-tail-right::before {
    content: '';
    position: absolute;
    right: -10px; /* Adjust for better positioning */
    top: 10px; /* Adjust to align with the middle of the bubble */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #1d4ed8; /* Use the hex code for a precise color match */
}

.bubble-tail-left::before {
    content: '';
    position: absolute;
    left: -10px; /* Adjust for better positioning */
    top: 10px; /* Adjust to align with the middle of the bubble */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d1d5db; /* Use the hex code for a precise color match */
}